<div class="list">
	{{#each infografiche}}
	    {{#if utonto}}
	    	<div class="li" id="{{@key}}">
	    		<p class="testo">{{{normalizzami testo}}}</p>
	    		<p class="utonto">{{{normalizzami utonto}}}</p>
	    	</div>
		{{/if}}	    
	{{/each}}
</div>

	<!--#include virtual="tot.inc"-->
	



